<div class="form-horizontal form-static">
    <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.name"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Status</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.status.name"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Start Date</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.start_date"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">End Date</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.end_date"></p>
        </div>
    </div>
    <div class="form-group text-area-container">
        <label class="col-xs-2 control-label">How It Ended</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.how_it_ended"></p>
        </div>
    </div>
    <div class="form-group text-area-container">
        <label class="col-xs-2 control-label">Notes</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.notes"></p>
        </div>
    </div>
</div>