<div content-for="title">Change Password</div>
<div content-for="navbar-bottom">
    <div bottombar class="navbar-inner">
        <button type="button" class="btn btn-lg btn-block btn-bottom" data-ng-disabled="editform.$invalid" data-ng-click="submitLink()">Change Password</button>
    </div>
</div>
<div id="measurements-form" class="scrollable">
    <div class="scrollable-content container">
        <form role="form" name="editform" data-ng-submit="submitForm(editform.$valid)">
            <div class="form-group">
                <div class="form-group">
                    <label for="Password" class="sr-only">New Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="New Password" data-ng-model="data.Password" required>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="sr-only">Confirm New Password</label>
                    <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm New Password" data-ng-model="data.ConfirmPassword" required data-password-verify="data.Password">
                </div>
            </div>
        </form>
    </div>
</div>