<div class="scrollable container">
    <div class="scrollable-content text-center">
        <header role="banner">
            <div id="logo-wrapper" class="clearfix">
                <a class="logo" href="#/"><img id="logo" src="assets/img/logo.svg" alt="SecondOpinionExpert logo">
                </a>
                <h1><a href="#/">SecondOpinionExpert</a></h1>
            </div>
            <h2 class="tagline">Get engaged with your <strong>health records</strong> today</h2>

        </header><a class="btn btn-lg btn-block btn-success" href="#/login">Login</a> <a class="btn btn-lg btn-block" href="#/sign-up">Sign up</a>
    </div>
</div>