<div class="scrollable container">
    <div class="scrollable-content text-center">
        <header role="banner">
            <div id="logo-wrapper" class="clearfix">
                <a class="logo" href="#/"><img id="logo" src="assets/img/logo.svg" alt="SecondOpinionExpert logo">
                </a>
                <h1><a href="#/">SecondOpinionExpert</a></h1>
            </div>
        </header>
        <article>
            <h2>LOGIN</h2>
            <div data-ng-include="'views/common/login-form.html'"></div>
        </article>
    </div>
</div>