<div content-for="title">Account Setup</div>
<div content-for="navbar-bottom">
    <div bottombar class="navbar-inner">
        <button class="btn btn-lg btn-block btn-bottom btn-default" data-ng-disabled="relationshipform.$invalid" data-ng-click="submitLink()">continue</button>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content container">
        <form role="form" name="relationshipform" data-ng-submit="submitForm(relationshipform.$valid)" novalidate>
            <fieldset>
                <legend>Who Is the Patient?</legend>
                <div class="form-group">
                    <label for="relationship" class="sr-only">Relationship to you</label>
                    <select class="form-control" id="relationship" data-ng-model="user.relationship" data-ng-change="relationshipSelected()" data-ng-options="item.name for item in relationships" options-disabled="item.is_disabled for item in relationships" required></select>
                </div>
            </fieldset>
            <fieldset data-ng-show="patient_selected">
                <legend>Please provide your contact information</legend>
                <div class="form-group">
                    <label for="salutation" class="sr-only">Salutation</label>
                    <select class="form-control" id="salutation" data-ng-model="user.salutation" data-ng-options="item.name for item in salutations" options-disabled="item.is_disabled for item in salutations" required></select>
                </div>
                <div class="form-group">
                    <label for="first-name" class="sr-only">First name</label>
                    <input type="text" class="form-control" id="first-name" data-ng-model="user.firstName" placeholder="First name" required> </div>
                <div class="form-group">
                    <label for="middle-name" class="sr-only">Middle Name</label>
                    <input type="text" class="form-control" id="middle-name" placeholder="Middle Name" data-ng-model="user.middleName"> </div>
                <div class="form-group">
                    <label for="last-name" class="sr-only">Last Name</label>
                    <input type="text" class="form-control" id="last-name" data-ng-model="user.lastName" placeholder="Last name" required> </div>
                <div class="form-group">
                    <label for="suffix" class="sr-only">Suffix</label>
                    <select class="form-control" id="suffix" data-ng-model="user.suffix" data-ng-options="item.name for item in suffixes" options-disabled="item.is_disabled for item in suffixes" required></select>
                </div>
                <div class="form-group">
                    <label for="gender" class="sr-only">Gender</label>
                    <select class="form-control" name="sel_gender" id="gender" data-ng-model="user.gender" data-ng-options="item.name for item in genders" options-disabled="item.is_disabled for item in genders" required></select>
                </div>
                <input bs-form-control type="date" label="Birthday" label-class="col-xs-3" class="col-xs-9" data-ng-model="user.dob" max="{{maxDate}}" required>
                <div class="form-group">
                    <label for="marital-status" class="sr-only">Marital Status</label>
                    <select class="form-control" id="marital-status" data-ng-model="user.maritalStatus" data-ng-options="item.name for item in MaritalStatuses" options-disabled="item.is_disabled for item in MaritalStatuses" required></select>
                </div>
            </fieldset>
        </form>
    </div>
</div>