<div class="scrollable">
    <div class="scrollable-content text-center container">
        <header role="banner">
            <div id="logo-wrapper" class="clearfix">
                <a class="logo" href="#/"><img id="logo" src="assets/img/logo.svg" alt="SecondOpinionExpert logo">
                </a>
                <h1 class="text-center"><a href="#/">SecondOpinionExpert</a></h1>
            </div>
            <h2>Check that your activation code is entered and click CONFIRM</h2>
        </header>
        <form role="form" class="form-loader" data-ng-submit="submitForm()">
            <div data-ng-show="waiting" class="app-content-loading zoom-in zoom-out"><i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            <fieldset>
                <div class="form-group">
                    <label for="confirmation_code" class="sr-only">confirmation code</label>
                    <input type="text" class="form-control input-lg" id="confirmation_code" data-ng-model="confirmation_code" required>
                </div><a class="btn btn-lg btn-block btn-bottom" data-ng-click="submitForm()">Confirm</a>
            </fieldset>
        </form>
    </div>
</div>