<div content-for="title">Account Setup</div>
<div content-for="navbar-bottom">
    <div bottombar class="navbar-inner"><a class="btn btn-lg btn-block btn-bottom" data-ng-click="submitLink()">{{btn}}</a> <a data-ng-if="isSignUp" class="btn btn-link btn-lg btn-block" href="#/sign-up/home-address">skip this</a> <a data-ng-if="!isSignUp" class="btn btn-link btn-lg btn-block" href="{{cancel_link}}">cancel</a>
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content container">
        <form role="form" name="workaddressform" data-ng-submit="submitForm(workaddressform.$valid)" novalidate>
            <fieldset>
                <legend>Work Address</legend>
                <div class="form-group">
                    <label for="work-address-1" class="sr-only">Work Address line 1</label>
                    <input type="text" class="form-control" id="work-address-1" placeholder="Work Address line 1" data-ng-model="user.workAddress.line1" required>
                </div>
                <div class="form-group">
                    <label for="work-address-2" class="sr-only">Work Address line 2</label>
                    <input type="text" class="form-control" id="work-address-2" placeholder="Work Address line 2" data-ng-model="user.workAddress.line2">
                </div>
                <div class="form-group">
                    <label for="city" class="sr-only">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City" data-ng-model="user.workAddress.city" required>
                </div>
                <div class="form-group">
                    <label for="state" class="sr-only">State</label>
                    <select class="form-control" id="state" data-ng-model="user.workAddress.state" data-ng-options="item.name for item in states" options-disabled="item.is_disabled for item in states" required></select>
                </div>
                <div class="form-group">
                    <label for="zip" class="sr-only">Zip</label>
                    <input type="text" class="form-control" id="zip" placeholder="Zip" data-ng-model="user.workAddress.zip" required>
                </div>
                <div class="form-group">
                    <label for="country" class="sr-only">Country</label>
                    <select class="form-control" id="country" data-ng-model="user.workAddress.country" data-ng-options="item.name for item in countries" options-disabled="item.is_disabled for item in countries" required></select>
                </div>
            </fieldset>
        </form>
    </div>
</div>