<div class="form-horizontal form-static">
    <div class="form-group">
        <label class="col-xs-2 control-label">Name</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.name"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Date</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.date"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Time</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.time"></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-2 control-label">Meal</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.meal.name"></p>
        </div>
    </div>
    <div class="form-group text-area-container">
        <label class="col-xs-2 control-label">Serving Size</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.serving_size"></p>
        </div>
    </div>
    <div class="form-group text-area-container">
        <label class="col-xs-2 control-label">Number of Servings</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.number_of_servings"></p>
        </div>
    </div>
    <div class="form-group text-area-container">
        <label class="col-xs-2 control-label">Calroies</label>
        <div class="col-xs-10">
            <p class="form-control-static" ng-bind="collection.calories"></p>
        </div>
    </div>
</div>